*{
    margin: 0;
    padding: 0px;
}
body{
    text-align: center;
}


.FadeUp{
    visibility: visible;
    animation: fadeUp 1s;
}

.FadeDown{
    visibility: visible;
    animation: fadeDown 1s;
}

.FadeLeft{
    visibility: visible;
    animation: fadeLeft 1s;
}

.generalInfo{

}

.generalInfo h3{
    font-size: 72px;
    text-align:center;
}

.generalInfo p{
    font-size: 32px;
    list-style: none;
    float: left;
}

@keyframes fadeLeft {
    0%{
        opacity: 0;
        transform: translateX(20%);
        
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fadeUp {
    0%{
        opacity: 0;
        transform: translateY(70%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fadeDown {
    0%{
        opacity: 0;
        transform: translateY(-5rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


@keyframes swapColor {
    0%, 100% {
        color :aquamarine;
    }
    20% {
        color:aqua;
    }
    40%{
        color:deepskyblue;
    }
    60% {
        color:dodgerblue;
    }
    80% {
        color:lightskyblue;
    }
}

@media only screen and (max-width: 600px) {
    
}